<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yohann.ocihelper.mapper.OciUserMapper">

    <select id="userPage" resultType="com.yohann.ocihelper.bean.response.oci.cfg.OciUserListRsp">
        SELECT
        t1.id,
        t1.username,
        t1.tenant_name,
        t1.oci_region AS region,
        t1.tenant_create_time as createTime,
        t1.plan_type as planType,
        t1.proxy,
        t1.account_status as accountStatus,
        CASE
        WHEN MAX(t2.id) IS NOT NULL THEN 1
        ELSE 0
        END AS enableCreate
        FROM oci_user t1
        LEFT JOIN oci_create_task t2 ON t2.user_id = t1.id
        <where>
            <if test="enableTask != null">
                <if test="enableTask == 1">
                    AND t2.id IS NOT NULL
                </if>
                <if test="enableTask == 0">
                    AND t2.id IS NULL
                </if>
            </if>
            <if test="keyword != null and keyword != ''">
                and (t1.username like '%' || #{keyword} || '%' or
                t1.oci_region like '%' || #{keyword} || '%' or
                t1.tenant_name like '%' || #{keyword} || '%' )
            </if>
            <if test="planType != null and planType != ''">
                AND t1.plan_type = #{planType}
            </if>
            <if test="accountStatus != null and accountStatus == 'NONE'">
                AND t1.account_status IS NULL
            </if>
            <if test="accountStatus != null and accountStatus != '' and accountStatus != 'NONE'">
                AND t1.account_status = #{accountStatus}
            </if>
        </where>
        GROUP BY t1.id, t1.username,t1.tenant_name,t1.oci_region, t1.create_time, t1.proxy
        <choose>
            <when test="sortOrder != null and sortOrder == 'ASC'">
                order by t1.tenant_create_time ASC
            </when>
            <when test="sortOrder != null and sortOrder == 'DESC'">
                order by t1.tenant_create_time DESC
            </when>
            <otherwise>
                order by t1.username DESC
            </otherwise>
        </choose>
        limit #{offset}, #{size}
    </select>
    <select id="userPageTotal" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT t1.id)
        FROM oci_user t1
        LEFT JOIN oci_create_task t2 ON t2.user_id = t1.id
        <where>
            <if test="enableTask != null">
                <if test="enableTask == 1">
                    AND t2.id IS NOT NULL
                </if>
                <if test="enableTask == 0">
                    AND t2.id IS NULL
                </if>
            </if>
            <if test="keyword != null and keyword != ''">
                and (t1.username like '%' || #{keyword} || '%' or
                t1.oci_region like '%' || #{keyword} || '%' or
                t1.tenant_name like '%' || #{keyword} || '%' )
            </if>
            <if test="planType != null and planType != ''">
                AND t1.plan_type = #{planType}
            </if>
            <if test="accountStatus != null and accountStatus == 'NONE'">
                AND t1.account_status IS NULL
            </if>
            <if test="accountStatus != null and accountStatus != '' and accountStatus != 'NONE'">
                AND t1.account_status = #{accountStatus}
            </if>
        </where>
    </select>
</mapper>
